// Заголовки, загальні БЕМ блоки та інше...
.none {
   display: none;
}
/* ==================== */
.title {
   font-weight: 700;
   font-size: rem(48);
   @include adaptiveValue("font-size", 48, 36);
   line-height: 120.833333%; /* 58/48 */
   color: #0fa2db;
   text-transform: uppercase;
   text-align: center;
   padding: 0 rem(15);
   span {
      color: #fff;
   }
}
/* ==================== */
.btn {
   display: inline-block;
   font-weight: 700;
   @include adaptiveValue("font-size", 24, 18);
   line-height: 120.833333%; /* 29/24 */
   color: #fff;
   padding: rem(14) 0;
   @include adaptiveValue("padding-left", 69, 30);
   @include adaptiveValue("padding-right", 69, 30);
   background: #0fa2db;
   border-radius: rem(20);
   transition: background 0.3s ease;
   &:hover {
      background: #0c85b5;
   }
}
/* ==================== */

.btn-03 {
   display: inline-block;
   font-weight: 700;
   @include adaptiveValue("font-size", 30, 24);
   line-height: 118.75%; /* 38/32 */
   color: #000;
   @include adaptiveValue("padding-top", 31, 15);
   @include adaptiveValue("padding-bottom", 31, 15);
   border-radius: rem(30);
   transition: background 0.3s ease;
   &_red {
      @include adaptiveValue("padding-left", 70, 30);
      @include adaptiveValue("padding-right", 70, 30);
      color: #fff;
      background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FF5050;
      &:hover {
         background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.1) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FF5050;
      }
   }
   &_green {
      @include adaptiveValue("padding-left", 83, 30);
      @include adaptiveValue("padding-right", 82, 30);
      background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #1DFAE5;   
      &:hover {
         background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.1) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #1DFAE5;   

      }
   }
   &_yellow {
      @include adaptiveValue("padding-left", 53, 30);
      @include adaptiveValue("padding-right", 52.5, 30);
      background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFAD4D;      
      &:hover {
         background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.1) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFAD4D;      
         
      }
   }
   &_blue {
      @include adaptiveValue("padding-left", 53, 30);
      @include adaptiveValue("padding-right", 52.5, 30);
      background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #5C9DFF;
      &:hover {
         background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.1) 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #5C9DFF;
         
      }
   }
}