.page {
   // .page__contact
   &__contact {
   }
   // .page__secure
   &__secure {
   }
   // .page__why-use
   &__why-use {
   }
   // .page__features
   &__features {
   }
   // .page__steps
   &__steps {
   }
   // .page__protection
   &__protection {
   }
   // .page__support
   &__support {
   }
}
//========================================================================================================================================================
//========================================================================================================================================================
.contact {
   background: #232323;
   @include adaptiveValue("padding-top", 30, 20);
   @include adaptiveValue("padding-bottom", 30, 20);
   // .contact__container
   &__container {
   }
   // .contact__inner
   &__inner {
      max-width: rem(1149);
      display: flex;
      flex-wrap: wrap;
      gap: rem(20);
      justify-content: space-between;
      font-size: rem(16);
      line-height: 118.75%; /* 19/16 */
      margin: 0 auto;
   }
   // .contact__mail
   &__mail {
   }
   // .contact__support
   &__support {
   }
}
//========================================================================================================================================================
//========================================================================================================================================================
.secure {
   position: relative;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 11, 40, 0.2) 100%),
      linear-gradient(180deg, rgba(0, 9, 58, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #111111;
   @include adaptiveValue("padding-top", 84, 40);
   @include adaptiveValue("padding-bottom", 63, 10);
   // .secure__container
   &__container {
      @media (min-width: $tablet) {
         min-height: 100%;
         display: flex;
         flex-direction: row-reverse;
      }
   }
   // .secure__info
   &__info {
      position: relative;
      flex: 0 1 38.06%;
      display: flex;
      flex-direction: column;
      justify-content: center;   
      // padding-bottom: rem(30);
      @media (min-width: $tablet) {
         padding-top: rem(50);
         padding-bottom: rem(50);
         left: rem(-120);         
      }
      @media (max-width: rem(1300)){
         @include adaptiveValue("left", -80, 70);  
      }
      @media (max-width: rem(1100)){
         @include adaptiveValue("left", -40, 70);   
      }
      @media (max-width:$tablet){
         left: 0;
         display: flex;
         flex-direction: column;
         justify-content: center; 
         margin-bottom: rem(15); 
      }
   }
   &__box {
   }
   // .secure__image
   &__image {
      flex: 0 1 63.31%; //63.31
      position: relative;
      display: flex;
      justify-content: center;
      img {
         max-width: 100%;
      }
      @media (min-width: $tablet) {
         @include adaptiveValue("left", -110, -15);
         padding-right: rem(20);
         width: rem(812);
         img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
         }
      }
   }
}

.info {
   text-align: center;
   // .info__title
   &__title {
      padding: 0;
      font-size: rem(36);
      line-height: 122.222222%; /* 44/36 */
   }
   // .info__text
   &__text {
      @include adaptiveValue("font-size", 24, 18);
      line-height: 120.833333%; /* 29/24 */
      &:not(:last-child) {
         margin-bottom: rem(27);
      }
   }
   // .info__box
   &__box {
      background: #232323;
      border-radius: 20px;
      padding: rem(23) rem(69) rem(35) rem(69);
      @include adaptiveValue("padding-left", 69, 0);
      @include adaptiveValue("padding-right", 69, 0);
   }
   // .info__subtitle
   &__subtitle {
      font-weight: 700;
      @include adaptiveValue("font-size", 24, 18);
      line-height: 120.833333%; /* 29/24 */
      text-transform: uppercase;
      &:not(:last-child) {
         margin-bottom: rem(15.13);
      }
   }
   // .info__image
   &__image {
      display: inline-block;
      @include adaptiveValue("width", 42.8, 38);
      @include adaptiveValue("height", 22.54, 15);   
      justify-content: center;
      img {
         width: 100%;
         height: 100%;
      } 
      &:not(:last-child) {
         margin-bottom: rem(15);
      }      
   }
   &__button {
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }
   // .info__btn
   &__btn {
   }
   // .info__license
   &__license {
      @include adaptiveValue("font-size", 16, 14);
      line-height: 118.75%; /* 19/16 */
   }
}

//========================================================================================================================================================
//====================================================================================================
.why-use {
   @include adaptiveValue("padding-top", 64, 40);
   @include adaptiveValue("padding-bottom", 157, 40);
   background: #0c0c15;
   // ..why-use__offers
   &__offers {
      &:not(:last-child) {
         margin-bottom: rem(22);
      }
   }
   // .why-use__items
   &__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 rem(-10);
      // row-gap: rem(30);
      @include adaptiveValue("row-gap", 30, 15);
   }
   // ..why-use__item
   &__item {
      flex: 0 1 25%;
      @media (max-width: $tablet) {
         flex: 0 1 50%;
      }
      @media (max-width: $mobileSmall) {
         flex: 0 1 100%;
         padding-left: rem(30);
      }
      padding: 0 rem(10);
      display: flex;
      align-items: center;
      img {
         @include adaptiveValue("width", 47, 30);
         @include adaptiveValue("height", 46, 29);  
         width: 100%;
         height: 100%;
         @include adaptiveValue("margin-right", 13, 9);
      }
      p {
         font-weight: 700;
         font-size: rem(16);
         @include adaptiveValue("font-size", 16, 13);
         line-height: 118.75%; /* 19/16 */
         text-transform: uppercase;
      }
   }
   // .why-use__container
   &__container {
      // display: flex;
      // margin: 0 auto;
   }
   // .why-use__inner
   &__inner {
      @include adaptiveValue("padding-top", 127, 20);
      max-width: rem(956);
      margin: 0 auto;
   }
   // .why-use__title
   &__title {
      &:not(:last-child) {
         margin-bottom: rem(22);
      }
   }
   // .why-use__desc
   &__desc {
      font-size: rem(24);
      @include adaptiveValue("font-size", 24, 18);
      line-height: 120.833333%; /* 29/24 */
      text-align: center;
   }
}

//====================================================================================================
//========================================================================================================================================================
.features {
   @include adaptiveValue("padding-top", 75, 30);
   @include adaptiveValue("padding-bottom", 114, 50);
   background: #060606;
   // .features__container
   &__container {
   }
   // .features__inner
   &__inner {
      max-width: rem(900);
      margin: 0 auto;
   }
   // .features__title
   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 50, 25);
      }
   }
   // .features__body-card
   &__body-card {
   }
}

.card {
   // .card__row
   &__row {
      display: flex;
      justify-content: space-between;
      column-gap: rem(48);
      @include adaptiveValue("gap", 48, -10);

      @media (max-width: $mobile) {
         flex-wrap: wrap;
         justify-content: center;
         @include adaptiveValue("column-gap", 48, 25);
         row-gap: rem(30);
         justify-content: space-around;
      }
   }
   // .card__column
   &__column {
      display: flex;
      flex-direction: column;
      @media (max-width: $mobile) {
         flex: 0 1 28%;
      }
   }
   // .sevices__item
   &__item {
      height: 100%; // чтобы карточки были одной высоты независимо от количества текста
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: #fff;
      // color: #48555b;
   }
   // .card__image
   &__image {
      display: flex;
      // width: rem(110);
      // height: rem(110); 
      @include adaptiveValue("width", 110, 82);
      @include adaptiveValue("height", 110, 82);
      background: #d9d9d9;
      border-radius: 50%;
      margin-bottom: rem(17);
      justify-content: center;
      align-items: center;
      margin-bottom: rem(17);
   }
   // .sevices__icon
   &__icon {
      // width: rem(65);
      // height: rem(65);
      @include adaptiveValue("width", 65, 49);
      @include adaptiveValue("height", 65, 49);      
      display: flex;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   // .sevices__text
   &__text {
      // flex: 1 1 auto; /*чтобы прибить кнопку к низу позволим блоку с текстом увеличиваться*/
      font-size: rem(14);
      line-height: 121.428571%; /* 17/14 */
      text-align: center;
   }
}
//========================================================================================================================================================
//========================================================================================================================================================
.steps {
   @include adaptiveValue("padding-top", 63, 30);
   @include adaptiveValue("padding-bottom", 105, 50);
   background: #232323;
   // .features__container
   &__container {
   }
   // .features__inner
   &__inner {
      max-width: rem(1052);
      margin: 0 auto;
   }
   // .features__title
   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 48, 25);
      }
   }
   // .features__body-card
   &__body-card {
   }
}

.card-steps {
   // .card__row
   &__row {
      display: flex;
      justify-content: space-evenly;
      column-gap: rem(48);
      @include adaptiveValue("gap", 48, -10);

      @media (max-width: $mobile) {
         flex-wrap: wrap;
         justify-content: center;
         @include adaptiveValue("column-gap", 48, 25);
         row-gap: rem(30);
         justify-content: space-around;
      }
   }
   // .card__column
   &__column {
      display: flex;
      flex-direction: column;
      @media (max-width: $mobile) {
         flex: 0 1 28%;
      }
   }
   // .sevices__item
   &__item {
      height: 100%; // чтобы карточки были одной высоты независимо от количества текста
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: #fff;
      min-width: rem(181);
   }
   // .card__image
   &__image {
      display: flex;
      @include adaptiveValue("width", 159, 120);
      @include adaptiveValue("height", 159, 120);
      border: 3px solid #0fa2db;
      border-radius: 50%;
      margin-bottom: rem(17);
      justify-content: center;
      align-items: center;
      margin-bottom: rem(17);
   }
   // .sevices__icon
   &__icon {
      @include adaptiveValue("width", 100, 75);
      @include adaptiveValue("height", 100, 75);
      display: flex;
   }
   // .sevices__text
   &__text {
      // flex: 1 1 auto; /*чтобы прибить кнопку к низу позволим блоку с текстом увеличиваться*/
      font-weight: 700;
      font-size: rem(20);
      line-height: 120%; /* 24/20 */
      text-align: center;
      text-transform: uppercase;
   }
}
//========================================================================================================================================================
//========================================================================================================================================================

.protection {
   @include adaptiveValue("padding-top", 109, 30);
   background: #060606;
   // .protection__title
   &__title {
      text-align: center;
      @include adaptiveValue("margin-bottom", 109, 30);
   }
   // .protection__container
   &__container {
      @media (min-width: $mobile) {
         min-height: 100%;
         display: flex;
      }
   }
   // .protection__design
   &__design {
      flex: 0 1 50%;
      margin: 0 auto;
      @include adaptiveValue("padding-bottom", 70, 20);
      @media (min-width: $mobile) {
         flex: 0 1 50%;
         align-self: center;
         @include adaptiveValue("margin-left", 125, 0);
         // padding-right: rem(20);
         @include adaptiveValue("padding-bottom", 132, 20);
      }
   }
   // .protection__image
   &__image {
      flex: 0 1 100%;
      position: relative;
      img {
         width: rem(767);
         max-width: 100%;
      }
      @media (min-width: $mobile) {
         flex: 0 1 41.7%;
         @include adaptiveValue("right", -98, 15);
         img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: left;
         }
      }
   }
}

.design {
   align-self: start;
   max-width: rem(600);
   @media (max-width: $mobile) {
      max-width: 100%;
      max-width: rem(767);
   }
   // .design__subtitle
   &__subtitle {
      font-weight: 700;
      font-size: rem(32);
      @include adaptiveValue("font-size", 32, 24);
      line-height: 121.875%; /* 39/32 */
      &:not(:last-child) {
         margin-bottom: rem(28);
      }
   }
   // .design__offers
   &__offers {
      &:not(:last-child) {
         margin-bottom: rem(22);
      }
   }
   // .design__items
   &__items {
   }
   // .design__item
   &__item {
      display: flex;
      align-items: center;   
      img {
         @include adaptiveValue("width", 47, 30);
         @include adaptiveValue("height", 46, 29);  
         width: 100%;
         height: 100%;
         margin-right: rem(9);
         &:not(:last-child) {
            margin-bottom: rem(9);
         }
      }
      p {
         font-weight: 700;
         @include adaptiveValue("font-size", 24, 18);
         line-height: 120.833333%; /* 29/24 */
         @media (max-width: $mobileSmall) {
            font-weight: 600;
         }
      }
   }
   &__btn {
      @include adaptiveValue("padding-left", 91, 30);
      @include adaptiveValue("padding-right", 91, 30);
   }
}
//========================================================================================================================================================
//========================================================================================================================================================
//========================================================================================================================================================
.support {
   @include adaptiveValue("padding-top", 135, 40);
   @include adaptiveValue("padding-bottom", 71, 30);
   background: #232323;
   // .support__container
   &__container {
   }
   // .support__inner
   &__inner {
      @include adaptiveValue("font-size", 14, 12);
      line-height: 121.428571%; /* 17/14 */
   }
   // .support__row
   &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: rem(20);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 120, 40);
      }
   }
   // .support__column
   &__column {
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
      // .support__column_01
      &_01 {
         flex-basis: rem(207);
         margin-right: rem(57);
         @media (max-width: $tablet) {
            flex-basis: rem(329);
            margin-right: 0;
         }
         @media (max-width: $mobile) {
            flex-basis: rem(750);
         }
      }
      // .support__column_02
      &_02 {
         flex-basis: rem(239);
         margin-right: rem(21);
         @media (max-width: $tablet) {
            flex-basis: rem(329);
            margin-right: 0;
         }
         @media (max-width: $mobile) {
            flex-basis: rem(750);
         }
      }
      // .support__column_03
      &_03 {
         flex-basis: rem(341);
         margin-right: rem(28);
         @media (max-width: $tablet) {
            flex-basis: rem(329);
            margin-right: 0;
         }
         @media (max-width: $mobile) {
            flex-basis: rem(750);
         }
      }
      // .support__column_04
      &_04 {
         flex-basis: rem(329);
         @media (max-width: $tablet) {
            flex-basis: rem(329);
            margin-right: 0;
         }
         @media (max-width: $mobile) {
            flex-basis: rem(750);
            // margin-right: 0;
         }
      }
   }
   // .support__card
   &__card {
   }
   // .support__title
   &__title {
      font-weight: 700;
      font-size: rem(16);
      line-height: 118.75%; /* 19/16 */
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 21, 12);
      }
   }
   // .support__text
   &__text {
   }
   // .support__conditions
   &__conditions {
      max-width: rem(565);
      margin: 0 auto;
   }
   // .support__items
   &__items {
      display: flex;
      flex-wrap: wrap;
      column-gap: rem(57);
      row-gap: rem(15);
      justify-content: space-between;
   }
   // .support__link
   &__link {
      display: inline-block;
      position: relative;
      &::after {
         position: absolute;
         content: "";
         height: rem(1.5);
         background-color: #fff;
         bottom: rem(-1.5);
         left: 50%;
         width: 0;
         transition: all 0.3s;
      }
      &:hover::after {
         left: 0;
         width: 100%;
      }
   }
}
