.page {
   // .page__secure-02
   &__secure-02 {
   }
   // .page__why-use-02
   &__why-use-02 {
   }
   // .page__advantages
   &__advantages {
   }
   // .page__steps
   &__steps-02 {
   }
}

//========================================================================================================================================================
//====================================================================================================
.secure-02 {
   @include adaptiveValue("padding-top", 48, 30);
   @include adaptiveValue("padding-bottom", 111, 50);
   // background: linear-gradient(296.06deg, rgba(255, 80, 206, 0.2) 14.45%, rgba(0, 0, 0, 0) 78.35%), #431ea6;
   color: #fff;
   // overflow: hidden;
   position: relative;
   // .secure-02__ficure
   &__ficure {
      position: absolute;
      content: "";
      left: 50%;
      top: 100%;
      transform: translate(-50%, -100%);
      z-index: -1;
   }
   // .secure-02__circle
   &__circle {
      margin: 0 auto;
      width: rem(1852);
      height: rem(1756);
      border-radius: 50%;
      background: linear-gradient(296.06deg, rgba(255, 80, 206, 0.2) 14.45%, rgba(0, 0, 0, 0) 78.35%), #431ea6;
   }
   // .secure-02__container
   &__container {
   }
   // .secure-02__inner
   &__inner {
      max-width: rem(1208);
      margin: 0 auto;
   }
   // .secure-02__top
   &__top {
      display: flex;
      justify-content: space-between;
      &:not(:last-child) {
         margin-bottom: rem(44);
      }
      @media (max-width: $mobile) {
         flex-direction: column;
         &:not(:last-child) {
            margin-bottom: rem(60);
         }
      }
   }
   // .secure-02__item
   &__item {
      text-align: center;
      font-size: rem(22);
      line-height: 116.666667%; /* 28/24 */
      max-width: rem(370);
      width: 100%;
      @media (max-width: $mobile) {
         max-width: 100%;
         &:not(:last-child) {
            margin-bottom: rem(30);
         }
      }
   }
   // .secure-02__btn
   &__btn {
      display: inline-block;
      font-family: "Roboto";
      max-width: rem(316);
      width: 100%;
      padding-top: rem(9);
      padding-bottom: rem(10);
      background: #5850ec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &:not(:last-child) {
         margin-bottom: rem(12);
      }
      transition: background 0.3s ease;
      &:hover {
         background: #4841c1;
      }
   }
   // .secure-02__contact
   &__contact {
   }
   // .secure-02__content
   &__content {
      text-align: center;
      font-weight: 700;
      @include adaptiveValue("font-size", 40, 25);
      line-height: 117.5%; /* 47/40 */
   }
   // .secure-02__title
   &__title {
      &:not(:last-child) {
         margin-bottom: rem(13);
      }
   }
   // .secure-02__text
   &__text {
      font-weight: 400;
      // font-size: rem(22);
      @include adaptiveValue("font-size", 22, 18);
      line-height: 116.666667%; /* 28/24 */
      &:not(:last-child) {
         margin-bottom: rem(106);
      }
   }
   // .secure-02__subtitle
   &__subtitle {
      &:not(:last-child) {
         margin-bottom: rem(31);
      }
   }
   // .secure-02__btn-big
   &__btn-big {
      display: inline-block;
      font-family: "Roboto";
      max-width: rem(507);
      width: 100%;
      padding-top: rem(29);
      padding-bottom: rem(28);
      background: #5850ec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: background 0.3s ease;
      &:hover {
         background: #4841c1;
      }
      &:not(:last-child) {
         margin-bottom: rem(12);
      }
   }
}

//========================================================================================================================================================
//====================================================================================================
.why-use-02 {
   @include adaptiveValue("padding-top", 96, 50);
   @include adaptiveValue("padding-bottom", 152, 50);
   background: #f5f5f5;
   color: #000;
   // .why-use-02__container
   &__container {
      max-width: rem(1208);
   }
   // .why-use-02__content
   &__content {
      display: flex;
      justify-content: space-between;
      gap: rem(10);
      @media (max-width: $tablet) {
         flex-direction: column;
      }
   }
   // .why-use-02__box
   &__box {
      flex: 0 1 47.1%;
      max-width: rem(569);
      @media (max-width: $tablet) {
         flex: 0 1 100%;
         max-width: 100%;
      }
   }
   // .why-use-02__subtitle
   &__subtitle {
      position: relative;
      font-family: "Roboto";
      font-weight: 600;
      font-size: rem(24);
      line-height: 116.666667%; /* 28/24 */
      &:not(:last-child) {
         margin-bottom: rem(63);
      }
      &::before {
         content: "";
         position: absolute;
         width: rem(284);
         height: rem(22);
         background: #d9d9d9;
         bottom: rem(-32);
      }
   }
   // .why-use-02__title
   &__title {
      font-family: "Roboto";
      font-weight: 700;
      @include adaptiveValue("font-size", 40, 36);
      color: #000;
      text-transform: uppercase;
      line-height: 117.5%; /* 47/40 */
      text-align: left;
      &:not(:last-child) {
         margin-bottom: rem(17);
      }
   }
   // .why-use-02__text
   &__text {
      font-family: "Roboto";
      font-weight: 300;
      font-size: rem(24);
      line-height: 116.666667%; /* 28/24 */
      p:first-child {
         font-weight: 600;
      }
      p {
         &:not(:last-child) {
            margin-bottom: rem(17);
         }
      }
   }
   // .why-use-02__images
   &__images {
      display: flex;
      padding-top: rem(36);
      flex: 0 1 51.9%;
      max-width: rem(627);
      height: 100%;
      // position: relative;
      // z-index: 2;
      @media (max-width: $tablet) {
         flex: 0 1 100%;
         max-width: 100%;
      }
   }
   // .why-use-02__image
   &__image {
      display: flex;
      width: 100%;
      justify-content: end;
      padding-left: rem(115);
      position: relative;
      img {
         max-width: 100%;
         height: 100%;
      }
      @media (max-width: $tablet) {
         flex: 0 1 100%;
         padding: 0;
         // justify-content: center;
         // max-width: rem(700);
         // width: 100%;
         img {
            max-width: rem(700);
            width: 100%;
         }
      }
   }
   // .why-use-02__image-small
   &__image-small {
      position: absolute;
      content: "";
      left: 0%;
      bottom: -17%;
      transform: translate(0, 17%);
      img {
         max-width: 100%;
         height: 100%;
      }
      @media (max-width: $tablet) {
         flex: 0 1 100%;
         max-width: rem(317);
         width: 100%;
         img {
            width: 100%;
         }
         left: 10%;
         bottom: -17%;
         transform: translate(-10, 17%);
         z-index: 0;
      }
   }
}

//========================================================================================================================================================
//====================================================================================================
.advantages {
   @include adaptiveValue("padding-top", 140, 50);
   @include adaptiveValue("padding-bottom", 138, 50);
   background: linear-gradient(
         106.94deg,
         rgba(88, 224, 254, 0.2) 22.94%,
         rgba(133, 233, 255, 0.1875) 28.22%,
         rgba(255, 255, 255, 0) 107.45%
      ),
      #dceeff;
   // .advantages__container
   &__container {
   }
   // .advantages__body
   &__body {
      max-width: rem(794);
      padding: 0 rem(40);
      margin: 0 auto;
   }
   // .advantages__image
   &__image {
      position: relative;
      // max-width: rem(574);
      @include adaptiveValue("max-width", 574, 280);
      margin: 0 auto;
      img {
         width: 100%;
         height: 100%;
      }
   }
   // .advantages__title
   &__title {
      max-width: rem(450);
      width: 100%;
      font-weight: 700;
      font-size: rem(40);
      @include adaptiveValue("font-size", 40, 18);
      line-height: 117.5%; /* 47/40 */
      color: #000;
      text-align: center;
      text-transform: uppercase;
      span {
         color: #ec0000;
      }
      // .advantages__title_1
      &_1 {
         position: absolute;
         content: "";
         left: -50%;
         top: 32%;
         transform: translate(50%, -32%);
         transform: rotate(90deg);
         padding-top: rem(70);
      }
      // .advantages__title_2
      &_2 {
         position: absolute;
         content: "";
         left: 50%;
         top: -15%;
         transform: translate(-50%, 15%);
      }
      // .advantages__title_3
      &_3 {
         position: absolute;
         content: "";
         right: -50%;
         top: 32%;
         transform: translate(50%, -32%);
         transform: rotate(-90deg);
         padding-top: rem(70);
      }
      // .advantages__title_4
      &_4 {
         position: absolute;
         content: "";
         left: 50%;
         bottom: -10%;
         transform: translate(-50%, 10%);
      }
   }
}

//========================================================================================================================================================
//====================================================================================================
.features-02 {
   @include adaptiveValue("padding-top", 61, 30);
   @include adaptiveValue("padding-bottom", 75, 50);
   background: #2b2b2b;
   // .features__container
   &__container {
   }
   // .features__inner
   &__inner {
      max-width: rem(1155);
      margin: 0 auto;
   }
   // .features__title
   &__title {
      color: #fff;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 41, 25);
      }
   }
   // .features__body-card
   &__body-card {
   }
}

.card-02 {
   // .card__row
   &__row {
      display: flex;
      justify-content: space-between;
      column-gap: rem(15);
      @media (max-width: $mobile) {
         flex-wrap: wrap;
         justify-content: center;
         @include adaptiveValue("column-gap", 15, 0);
         row-gap: rem(30);
      }
   }
   // .card__column
   &__column {
      display: flex;
      max-width: rem(176);
      width: 100%;
      flex-direction: column;
      @media (max-width: $mobile) {
         @include adaptiveValue("max-width", 167, 145);
      }
   }
   // .card__item
   &__item {
      height: 100%; // чтобы карточки были одной высоты независимо от количества текста
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: #fff;
   }
   // .card__image
   &__image {
      display: flex;
      @include adaptiveValue("width", 150, 70);
      @include adaptiveValue("height", 150, 70);
      background: #d9d9d9;
      border-radius: rem(15);
      justify-content: center;
      align-items: center;
      margin-bottom: rem(12);
   }
   // .sevices__icon
   &__icon {
      @include adaptiveValue("width", 80, 40);
      @include adaptiveValue("height", 80, 40);
      display: flex;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   // .sevices__text
   &__text {
      font-size: rem(22);
      @include adaptiveValue("font-size", 22, 18);
      line-height: 116.666667%; /* 28/24 */
      text-align: center;
   }
}
//====================================================================================================
//========================================================================================================================================================
.steps-02 {
   @include adaptiveValue("padding-top", 52, 30);
   @include adaptiveValue("padding-bottom", 64, 30);
   background: #f5f5f5;
   // .steps-02__container
   &__container {
   }
   // .steps-02__inner
   &__inner {
      max-width: rem(1155);
      text-align: center;
      margin: 0 auto;
   }
   // .steps-02__title
   &__title {
      font-weight: 700;
      @include adaptiveValue("font-size", 40, 36);
      color: #000;
      text-transform: uppercase;
      line-height: 117.5%; /* 47/40 */
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 51, 25);
      }
   }
   // .steps-02__image
   &__image {
      max-width: 100%;
      img {
         width: 100%;
         height: 100%;
      }
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 29, 20);
      }
   }
   // .steps-02__subtitle
   &__subtitle {
      font-weight: 600;
      @include adaptiveValue("font-size", 24, 20);
      line-height: 116.666667%; /* 28/24 */
      color: #000;
      text-transform: uppercase;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 27, 20);
      }
   }
   // .steps-02__buttons
   &__buttons {
      display: flex;
      justify-content: space-between;
      gap: rem(20);
      @media (max-width: $tablet) {
         justify-content: space-between;
      }
      @media (max-width: $mobile) {
         flex-wrap: wrap;
         justify-content: center;
      }
   }
   // .steps-02__btn-02
   &__btn-02 {
      display: inline-block;
      font-family: "Roboto";
      @include adaptiveValue("font-size", 24, 20);
      line-height: 116.666667%; /* 28/24 */
      color: #fff;
      @include adaptiveValue("padding-top", 37, 15);
      @include adaptiveValue("padding-bottom", 37, 15);
      max-width: rem(357);
      width: 100%;
      transition: background 0.3s ease;
      background: #535353;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &:hover {
         background: #2e2e2e;
      }
      @media (max-width: $mobile) {
         flex: 0 1 47%;
         max-width: 100%;
      }
      @media (max-width: $mobileSmall) {
         flex: 0 1 100%;
         max-width: 100%;
      }
   }
}

//========================================================================================================================================================
//========================================================================================================================================================
.protection-02 {
   @include adaptiveValue("padding-top", 57, 30);
   @include adaptiveValue("padding-bottom", 100, 30);
   background: radial-gradient(69.2% 166.64% at 81.32% 28.02%, rgba(255, 23, 23, 0.2) 0%, rgba(0, 0, 0, 0) 100%)
         /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      #0d0c14;
   // .protection__title
   &__title {
      font-family: "Roboto";
      color: #fff;
      text-align: center;
      @include adaptiveValue("margin-bottom", 109, 30);
   }
   // .protection__container
   &__container {
      position: relative;
      max-width: rem(1185);
      @media (min-width: $mobile) {
         min-height: 100%;
         display: flex;
         // justify-content: space-between;
         column-gap: rem(73);
      }
      // &::before {
      //    content: "";
      //    position: absolute;
      //    width: rem(440);
      //    height: rem(440);
      //    border-radius: 50%;
      //    background: #fff;
      //    top: rem(-440);
      //    left: rem(-440);
      // }
   }
   // .protection__design
   &__design-02 {
      flex: 0 1 40.78%;
      // margin: 0 auto;
      // @include adaptiveValue("padding-bottom", 70, 20);
      @media (min-width: $mobile) {
         flex: 0 1 42.23%;
         align-self: center;
         // @include adaptiveValue("margin-left", 25, 0);
         // margin-right: rem(20);
      }
   }
   // .protection__image
   &__image {
      flex: 0 1 100%;
      position: relative;
      img {
         width: rem(767);
         max-width: 100%;
      }
      @media (min-width: $mobile) {
         flex: 0 1 54.5%;
         img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
         }
      }
   }
}

.design-02 {
   align-self: start;
   max-width: rem(471);
   @media (max-width: $mobile) {
      max-width: 100%;
      max-width: rem(767);
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }
   // .design__subtitle
   &__subtitle {
      font-family: "Roboto";
      font-weight: 700;
      font-size: rem(24);
      @include adaptiveValue("font-size", 24, 20);
      line-height: 116.666667%; /* 28/24 */
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }
   // .design__offers
   &__offers {
      &:not(:last-child) {
         margin-bottom: rem(19);
      }
   }
   // .design__items
   &__items {
   }
   // .design__item
   &__item {
      display: flex;
      align-items: center;
      img {
         @include adaptiveValue("width", 37, 30);
         @include adaptiveValue("height", 37, 30);
         width: 100%;
         height: 100%;
         margin-right: rem(9);
         &:not(:last-child) {
            margin-bottom: rem(4);
         }
      }
      p {
         @include adaptiveValue("font-size", 20, 16);
         line-height: 115%; /* 23/20 */
         @media (max-width: $mobileSmall) {
            // font-weight: 600;
         }
      }
   }
   .btn-02 {
      display: inline-block;
      font-family: "Roboto";
      font-weight: 700;
      @include adaptiveValue("font-size", 24, 20);
      line-height: 116.666667%; /* 28/24 */
      color: #000;
      @include adaptiveValue("padding-top", 35, 15);
      @include adaptiveValue("padding-bottom", 35, 15);
      // border-radius: rem(30);
      transition: background 0.3s ease;
      &_grey {
         @include adaptiveValue("padding-left", 101, 30);
         @include adaptiveValue("padding-right", 101, 30);
         color: #fff;
         background: #535353;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
         &:hover {
            background: radial-gradient(
                     81.69% 566.4% at 24.1% 18.31%,
                     rgba(255, 240, 240, 0.1) 0%,
                     rgba(255, 255, 255, 0) 100%
                  )
                  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
               #2f2f2f;
         }
      }
   }
}
//========================================================================================================================================================
